{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Home Page</title>
{% endblock %}
<!-- {% block base_head %}
<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
{% endblock %}
 -->
{% block content %}

<div class="text-center">
		<h1>{{title}}</h1>
	<h2>Hello, world!</h2>
</div>
<div class="row">
	<div class="col">
		<h1>this is content</h1>
		<p>{{content}}</p>
	</div>
</div>
{% if request.user.is_authenticated %}
<div class="row">
	<div class="col">
		<h1>Premium Content</h1>
		<p>{{premium_content}}</p>
	</div>
</div>
{% endif %}	    

<img src='{% static "images/beach.jpeg" %}' class="img-fluid">

{% endblock %}


