{% extends "base.html" %}

{% load static %}


{% block title %}
<title>Details product</title>
{% endblock %}

<!-- {% block base_head %}
<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
{% endblock %}
 -->
{% block content %}

	<div class='row'>
		<div class='col-12 col-md-6'>
			{% if object.image %}

				<img src="{{ object.image.url }}" class="img-fluid" ><br>
				{{ object.image }}<br>
				{{ object.image.url }}<br><br>

			{% endif %}

		<h1>{{ object.title }}</h1> <br>
		{{ object.timestamp|timesince }} ago
		<h3>{{ "DESCRIPTION" | title }}</h3>
		{{ object.description|linebreaks }}<br>

		</div>
		<div class='col-12 col-md-6'>
			<!-- #{{ cart.user }} -->
			{% include 'products/snippets/update-cart.html' with product=object cart=cart %}

			<!--''' {% if object in cart.products.all %}
				In Cart <button class="btn btn-link">Remove?</button>
			{% else %}
			<button class="btn btn-success">Add to cart</button> 
			{% endif %} '''-->
		</div>
	</div>

{% endblock %}



<!-- <img src="{{ object.image2 }}" class="img-fluid" >
 -->